<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje personalizado</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .texto {
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(30, 170, 116);
            font-size: 3rem;
        }
    </style>

</head>
<body>
    <h1 class="texto">Hola querido usario de Gmail este es un correo de Prueba</h1>
    <div class="container">
        <img src="https://i.pinimg.com/736x/fa/09/64/fa096447477cf551804f5925e165ac55.jpg" alt="">
        <img src="https://i.pinimg.com/736x/3f/16/84/3f168476792952de56c7fba120f7509f.jpg" alt="">
    </div>
    <h3 class="texto">Hola (˶˃ ᵕ ˂˶) .ᐟ.ᐟ</h3>
    <p class="texto">Este mensaje es para comprobar si se puede mandar un email personalizado con nodemailer y html</p>
</body>
</html>